<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon.png"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>QuickTeams 🚀</title>
    <meta
      name="description"
      content="Crea equipos de manera rápida y sencilla con QuickTeams. Agrega jugadores, elige la cantidad de equipos y deja que la magia suceda."
    />
    <meta
      name="keywords"
      content="equipos, aleatorio, jugadores, team builder, generar equipos, sports, gaming"
    />
    <meta
      name="author"
      content="José Centeno"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
